.maincont {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
.container {
    flex-flow: column wrap;
    display: flex;
    width: 340px;
    height: 340px;
    flex: 0 0 auto;
    align-content: baseline;
}

.box {
    height: 21.25px;
    width: 21.25px;
    border: 0.2px solid lightgrey;
    margin: -0.2px;
    flex: 1 1 auto;
}

.hover {
    background-color: black;
}