.maincont {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    flex-wrap: wrap;
}
.container {
    flex-flow: row wrap;
    display: flex;
    width: 340px;
    height: 340px;
    align-content: baseline;
    flex: 0 0 auto;
}

.box {
    box-sizing: border-box;
    height: 21.25px;
    width: 21.25px;
    border: 0.2px solid lightgrey;
    margin: 0;
    flex: 0 0 auto;
}

.hover {
    background-color: black;
}