.maincont {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    width: 100px;
    height: auto;
    flex-wrap: wrap;
}

.box {
    border: 0.3px solid lightgrey;
    margin: -0.2px;
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

.hover {
    background-color: black;
}